{{{htmlData.head}}}
<body>
{{{htmlData.navbar}}}


{{#if data.issamipaieska}}
<div id="main-content">
    <div class="simple-form" id="formContainer">
        <form action="" method="post">
            <div>
                <label class="field" for="tipas">Pasirinkiti gyvūno tipą</label><br>
                    {{{data.issamipaieska}}}
                <label class="field" for="kaina">Įveskite maksimalią gyvūno kainą</label><br>
                    <input type="number" step="any" min="0" max="100000" id="kaina" name="kaina" class="form-control input-sm" required="true" value="">
            </div>
            <input type="submit" class="submit btn btn-success" name="submit" value="Ieškoti">
        </form>
    </div>
</div>
{{/if}}

{{#if data.gyvunas}}
    <div id="main-content" class="main">
        <h1>Išsamios paieškos rezultatai</h1>
        {{{data.gyvunas}}}
    </div>
{{/if}}

{{#if data.error}}
    <div class="error">Nieko nepavyko rasti.</div>
{{/if}}

</body>

