{{{htmlData.head}}}
<body>
{{{htmlData.navbar}}}


{{#if data.paieska}}
<div id="main-content">
    <div class="simple-form" id="formContainer">
	<form action="" method="post">
            <div>
                <label class="field" for="paieska">Įveskite gyvūno(-ų) vardą arba jo pradžią</label><br>
                {{{data.paieska}}}
            </div>
            <input type="submit" class="submit btn btn-success" name="submit" value="Ieškoti">
    </form>
    </div>
</div>
{{/if}}

{{#if data.gyvunas}}
    <div id="main-content" class="main">
        <h1>Paieškos "{{{data.ivesta}}}" rezultatai</h1>
        {{{data.gyvunas}}}
        {{#each data.gyvunas}}
            <div class="inner-form">
                <a href="/gyvunai/{{{this.id}}}" class="btn btn-default"><h2>{{this.vardas}}</h2></a><br>
                <img class="v-image" src="{{{this.nuotrauka}}}" width=600px alt="img">
            </div>
        {{/each}}
    </div>
{{/if}}

{{#if data.error}}
    <div class="error">Nieko nepavyko rasti.</div>
{{/if}}

</body>