{{{htmlData.head}}}
<body>
{{{htmlData.navbar}}}


{{#if data.paieska}}
<div id="main-content">
    <div class="simple-form" id="formContainer">
        <div>
	        <form action="" method="post">
                <label class="field" for="paieska">Įveskite gyvūno(-ų) vardą arba jo pradžią</label><br>
                {{{data.paieska}}}
                <input type="submit" class="submit btn btn-success" name="submit" value="Ieškoti">
            </form>
            <a href="/issamipaieska" class="btn btn-default">Išsami paieška</a>
        </div>
    </div>
</div>
{{/if}}

{{#if data.gyvunas}}
    <div id="main-content" class="main">
        <h1>Paieškos "{{{data.ivesta}}}" rezultatai</h1>
        {{{data.gyvunas}}}
    </div>
{{/if}}

{{#if data.error}}
    <div class="error">Nieko nepavyko rasti.</div>
{{/if}}

</body>