{{{data.head}}}
<body>
{{{data.navbar}}}
<div style="text-align: center">
    <div class="profile-div">
        <div id="register-error" class="error"></div>
        <div class="form-group">
            <label for="username">Vartotojo vardas:</label>
            <input type="text" class="form-control" id="username" readonly>
        </div>
        <div class="form-group">
            <label for="email">El. paštas:</label>
            <input type="email" class="form-control" id="email" required="">
        </div>
        <div class="form-group">
            <label for="tel">Telefono nr.:</label>
            <input type="text" class="form-control" id="tel" required="">
        </div>
        <div class="form-group">
            <label for="birthdate">Gimimo data:</label>
            <input type="date" class="form-control" id="birthdate" required="">
        </div>
        <button type="submit" onClick="register()" class="btn btn-success">Redaguoti</button>
    </div>
</div>
</body>