{{{htmlData.head}}}
<body>
    {{{htmlData.navbar}}}
    <div id="main-content">
        {{{data.errors}}}
        <div class="simple-form" id="formContainer">
            <form action="" method="post" id="veis-form">
                <div>
                    <label class="field" for="gyv_tip_radio">Gyvūno tipas</label>
                    <div class="radio" id="gyv_tip_radio" required="true" name="gyv_tip_radio">
                        <label>
                            <input type="radio" id="gyv_tip_radio" value="šuo" name="gyv_tip_radio">
                            šuo
                        </label>
                    </div>
                    <div class="radio" id="gyv_tip_radio2" required="true">
                        <label>
                            <input type="radio" id="gyv_tip_radio2" value="katė" name="gyv_tip_radio">
                            katė
                        </label>
                    </div>
                </div>

                <div>
                    <label class="field" for="pavadinimas">Veislės pavadinimas</label>
                    {{#if data.pavadinimas}}
                        {{{data.pavadinimas}}}
                    {{else}}
                        <input type="text" id="pavadinimas" name="pavadinimas" 
                        class="form-control input-sm" required="true" value="{{data.veisle.pavadinimas}}">
                    {{/if}}
                </div>
                <div>
                    <label class="field" for="gyv_dyd_select">Gyvūno dydis</label>
                    <select class="form-control" id="gyv-gyv_dyd_select-select" value="" name="gyv_dyd_select">
                        <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="2XL">2XL</option>
                        <option value="3XL">3XL</option>
                        <option value="4XL">4XL</option>
                    </select>
                </div>

                <div>
                    <label class="field" for="aprasymas">Veislės aprašymas</label>
                    <textarea type="text" class="form-control" id="aprasymas" 
                    rows="4" name="aprasymas" value="">{{data.veisle.aprasymas}}</textarea>
                </div>

                <div>
                    <label class="field" for="nuotraukos_url">Nuotrauka</label>
                    {{#if data.nuotraukos_url}}
                        {{{data.nuotraukos_url}}}
                    {{else}}
                        <input type="URL" id="nuotraukos_url" name="nuotraukos_url"
                         class="form-control input-sm" value="{{data.nuotraukos_url}}">
                    {{/if}}
                </div>
                <input type="submit" class="submit btn btn-success" name="submit" value="Registruoti">
            </form>
        </div>
    </div>
</body>