{{{htmlData.head}}}
<body>
{{{htmlData.navbar}}}
    <div id="main-content" class="main">
        <h1>Visos sistemoje užregistruotos veislės</h1>
        {{{data.errors}}}
        <div class="simple-form main" id="formContainer">
            <a href="/naujaveisle" class="btn btn-default">Registruoti veislę</a>
            <a class="btn btn-default">Registruoti poveislę</a>
        </div>
        {{#each data.veisles}}
            <a class="btn btn-default breed" href="/veisle/{{this.id}}">
                <h2>{{this.pavadinimas}}</h2>
                <b>Poveislių kiekis: </b> {{this.poveisliu_kiekis}}<br>
                <b>Gyvūnų kiekis: </b> {{this.gyvunu_kiekis}}<br>
            </a>
        {{/each}}
    </div>
</body>