.simple-form {
    margin: auto;
    width: 30%;
}

.inner-form {
    border: 1px solid lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.btn {
    margin: 5px;
}

.main {
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    border: solid 1px lightgray;
    padding: 10px;
}

.contacts {
    display: inline-block;
    width: 30%;
    margin: auto;
}

.contact-div {
    border: solid 1px lightgray;
    margin-bottom: -1px;
    padding: 3px;
}

.v-image {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

div {
     word-break: break-all;
}

.note {
    background-color: #f2f2f2;
    margin: 5px;
}

.note-image {
    width: 30%;
    display: inline-block;
    margin: auto;
}
.note-content-image {
    width: 65%;
    display: inline-block;
    margin: auto;
}

.message {
    margin: auto;
    width: 30%;
}

.delete-note {
    float: right;
}

.profile-div {
    display: inline-block;
    width: 50%;
    margin: 50px 50px 50px 50px;
    margin-top: 20px;
    text-align: left;
}

.form-group {

}