.simple-form {
    margin: auto;
    width: 30%;
}

.inner-form {
    border: 1px solid lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.btn {
    margin: 5px;
}

.main {
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    border: solid 1px lightgray;
    padding: 10px;
}

.contacts {
    display: inline-block;
    width: 30%;
    margin: auto;
}

.contact-div {
    border: solid 1px lightgray;
    margin-bottom: -1px;
    padding: 3px;
}

.v-image {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

div {
     word-break: break-all;
}

.note {
    background-color: #f2f2f2;
    margin: 5px;
}

.note-image {
    width: 30%;
    display: inline-block;
    margin: auto;
}
.note-content-image {
    width: 65%;
    display: inline-block;
    margin: auto;
}

.message {
    margin: auto;
    width: 30%;
}

.delete-note {
    float: right;
}

.profile-div {
    display: inline-block;
    width: 50%;
    margin: 50px 50px 50px 50px;
    margin-top: 20px;
    text-align: left;
}

.roles-div {
    display: inline-block;
    width: 80%;
    margin: 50px 50px 50px 50px;
    margin-top: 20px;
    text-align: left;
}

.form-group {

}

.breed {
    width: 100%;
}

.pet-div {
    background-color: #f4f4f4;
    margin: 10px;
}

.pet-img {
    width: 100%;
    height: 200px;
    background-position: center; 
    background-size: 300px;
}

.pet-button {
    background: none;
    border: none;
    width: 100%;
    font-size: 20;
    background-color: #e0e0e0;
    color: white;
}

.pet-button:focus {
    outline: none;
}

.pet-button:hover {
    background-color: #e5e5e5;
}

.pets {
    border: none !important;
}

.message {
    width: 30%;
    margin: auto;
    text-align: center;
}

.error {
    width: 30%;
    margin: auto;
    color: red;
    text-align: center;
}

.report-selection {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    width: 20%;
    margin: 50px 50px 50px 50px;
    margin-top: 20px;
    padding-left: 5px;
    text-align: left;
}