{{{htmlData.head}}}
<body>
    {{{htmlData.navbar}}}
    <div id="main-content">
        {{{data.errors}}}
        <div class="simple-form" id="formContainer">
            <form action="" method="post" id="pren-form">
                <h1>Prenumeratos registracija</h1>
                <!--<div>
                    <label class="field" for="galioja_iki">Prenumerata galioja iki</label>
                    <input type="date" name="galioja_iki" min="2000-01-02"><br>
                </div>-->

                <div>
                    <label class="field" for="veisle">Veislė</label>
                    <select class="form-control" id="veisle" value="" name="veisle">
                        {{#each data.veisle}}
                            <option value="{{this.id}}">{{this.pavadinimas}}</option>
                        {{/each}}
                    </select>
                </div>

                <div>
                    <label class="field" for="poveisle">Poveislė</label>
                    <select class="form-control" id="poveisle" value="" name="poveisle">
                        {{#each data.poveisle}}
                            <option value="{{this.id}}">{{this.pavadinimas}}</option>
                        {{/each}}
                    </select>
                </div>

                <div>
                    <label class="field" for="gyv_tip_radio">Gyvūno tipas</label>
                    <div class="radio" id="gyv_tip_radio" required="true" name="gyv_tip_radio">
                        <label>
                            <input type="radio" id="gyv_tip_radio" value="šuo" name="gyv_tip_radio">
                            šuo
                        </label>
                    </div>
                    <div class="radio" id="gyv_tip_radio2" required="true">
                        <label>
                            <input type="radio" id="gyv_tip_radio2" value="katė" name="gyv_tip_radio">
                            katė
                        </label>
                    </div>
                </div>

                <div>
                    <label class="field" for="max_kaina">Maksimali kaina €</label>
                    <input class="form-control input-sm" type="number" name="max_kaina" min="0" max="99999999999" step="10" value="100">
                </div>

                <div>
                    <label class="field" for="min_kaina">Minimali kaina €</label>
                    <input class="form-control input-sm" type="number" name="min_kaina" min="0" max="99999999999" step="10" value="0">
                </div>

                <div>
                    <label class="field" for="max_amzius">Maksimalus amžius (metais)</label>
                    <input class="form-control input-sm" type="number" name="max_amzius" min="0" max="99999999999" step="10" value="3">
                </div>

                <div>
                    <label class="field" for="min_amzius">Minimalus amžius (metais)</label>
                    <input class="form-control input-sm" type="number" name="min_amzius" min="0" max="99999999999" step="10" value="0">
                </div>
                <br>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="turi_apdovanojima" value="true">
                        Gyvūnas turi bent vieną apdovanojimą
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="nurodytas_tevas" value="true">
                        Nurodytas tėvas
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="nurodyta_motina" value="true">
                        Nurodyta motina
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="su_nuotrauka" value="true">
                        Su nuotrauka
                    </label>
                </div>

                <div>
                    <label class="field" for="miestas">Miestas</label>
                    <input type="text" id="miestas" name="miestas" 
                    class="form-control input-sm" required="true" value="">
                </div>
                
                <input type="submit" class="submit btn btn-success" name="submit" value="Registruoti">
            </form>
        </div>
    </div>
</body>