{{{htmlData.head}}}
<script>
    function displayBreads(test) {
        if (test == 1) {
            document.getElementById("veisle").style.display = "block";
            document.getElementById("b").required = true;
        }
        if (test == 0) {
            document.getElementById("veisle").style.display = "none";
            document.getElementById("b").required = false;
        }
    }
</script>
<script>
    function displayApdovanojimas(test) {
        if (test == 1) {
            document.getElementById("apdovanojimas").style.display = "block";
            document.getElementById("apdovanojimas_data").required = true;
            document.getElementById("uzimta_vieta").required = true;
            document.getElementById("prizas").required = true;
            document.getElementById("dalyviu_skaicius").required = true;
            document.getElementById("seimininkas").required = true;
            document.getElementById("konkurso_miestas").required = true;
            document.getElementById("konkurso_salis").required = true;
        }
        if (test == 0) {
            document.getElementById("apdovanojimas").style.display = "none";
            document.getElementById("apdovanojimas_data").required = false;
            document.getElementById("uzimta_vieta").required = false;
            document.getElementById("prizas").required = false;
            document.getElementById("dalyviu_skaicius").required = false;
            document.getElementById("seimininkas").required = false;
            document.getElementById("konkurso_miestas").required = false;
            document.getElementById("konkurso_salis").required = false;
        }
    }
</script>
<body>
    {{{htmlData.navbar}}}
    <div id="main-content" class="main">
        {{{data.errors}}}
        <div class="simple-form" id="formContainer">
            <form action="" method="post">
                <div class="inner-form">
                    <label class="field" for="Gyvunas">Gyvūnas</label>

                    <div>
                        <label class="field" for="vardas">Vardas</label>
                        {{#if data.vardas}}
                            {{{data.vardas}}}
                        {{else}}
                            <input type="text" maxlength="50" id="vardas" name="vardas" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>

                    <div>
                        <label class="field" for="tipas">Tipas</label><br>
                        {{{data.tipas}}}
                    </div>

                    <div>
                        <label class="field" for="amzius">Amžius (metais)</label>
                        {{#if data.amzius}}
                            {{{data.amzius}}}
                        {{else}}
                            <input type="number" step="1" min="0" max="99" id="amzius" name="amzius" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>

                    <div>
                    <label class="field" for="nuotrauka">Nuotrauka</label>
                        {{#if data.nuotrauka}}
                            {{{data.nuotrauka}}}
                        {{else}}
                            <input type="URL" maxlength="500" id="nuotrauka" name="nuotrauka" class="form-control input-sm" value="">
                        {{/if}}
                    </div>

                    <div>
                        <label class="field" for="tevas">Tėvas</label>
                        {{#if data.tevas}}
                            {{{data.tevas}}}
                        {{else}}
                            <input type="text" maxlength="50" id="tevas" name="tevas" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>

                    <div>
                        <label class="field" for="motina">Motina</label>
                        {{#if data.motina}}
                            {{{data.motina}}}
                        {{else}}
                            <input type="text" maxlength="50" id="motina" name="motina" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>

                    <div>
                        <label class="field" for="spalva">Spalva</label>
                        {{#if data.spalva}}
                            {{{data.spalva}}}
                        {{else}}
                            <input type="text" maxlength="50" id="spalva" name="spalva" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>
                </div>

                <div class="inner-form">
                    <label class="field" for="pardavimas">Pardavimo informacija</label>

                    <div>
                        <label class="field" for="kaina">Kaina</label>
                        {{#if data.kaina}}
                            {{{data.kaina}}}
                        {{else}}
                            <input type="number" step="any" min="0" id="kaina" name="kaina" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>

                    <div>
                        <label class="field" for="pardavejo_vardas">Pardavėjo vardas</label>
                        {{#if data.pardavejo_vardas}}
                            {{{data.pardavejo_vardas}}}
                        {{else}}
                            <input type="text" maxlength="50" id="pardavejo_vardas" name="pardavejo_vardas" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>

                    <div>
                        <label class="field" for="telefonas">Telefonas</label>
                        {{#if data.telefonas}}
                            {{{data.telefonas}}}
                        {{else}}
                            <input type="number" min="860000000" max="869999999" step="1" id="telefonas" name="telefonas" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>

                    <div>
                        <label class="field" for="aprasymas">Aprašymas</label>
                        {{#if data.aprasymas}}
                            {{{data.aprasymas}}}
                        {{else}}
                            <textarea id="aprasymas" name="aprasymas" rows="15" maxlength="500" class="form-control input-sm" required="true" value=""></textarea>
                        {{/if}}
                    </div>
                </div>

                <div class="inner-form">
                    <label class="field" for="info">Informacija, apie atsiėmimo vietą</label>
                    
                    <div>
                        <label class="field" for="miestas">Miestas</label>
                        {{#if data.miestas}}
                            {{{data.miestas}}}
                        {{else}}
                            <input type="text" maxlength="100" id="miestas" name="miestas" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>

                    <div>
                        <label class="field" for="gatve">Gatvė</label>
                        {{#if data.gatve}}
                            {{{data.gatve}}}
                        {{else}}
                            <input type="text" maxlength="100" id="gatve" name="gatve" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>

                    <div>
                        <label class="field" for="namo_numeris">Namo numeris</label>
                        {{#if data.namo_numeris}}
                            {{{data.namo_numeris}}}
                        {{else}}
                            <input type="number" step="1" min="0" max="9999" id="namo_numeris" name="namo_numeris" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>

                    <div>
                        <label class="field" for="buto_numeris">Buto numeris</label>
                        {{#if data.buto_numeris}}
                            {{{data.buto_numeris}}}
                        {{else}}
                            <input type="number" step="1" min="0" max="9999" id="buto_numeris" name="buto_numeris" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>

                    <div>
                        <label class="field" for="salis">Šalis</label>
                        {{#if data.salis}}
                            {{{data.salis}}}
                        {{else}}
                            <input type="text" maxlength="100" id="salis" name="salis" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>
                </div>

                <div class="inner-form">
                    <label class="field" for="kilm">Ar kilmingas?</label><br>
                    <input type="radio" name="kilme" value="1" required="true" onclick="displayBreads(1)">Taip<br>
                    <input type="radio" name="kilme" value="0" required="true" onclick="displayBreads(0)">Ne<br>
                </div>

                <div class="inner-form" id="veisle" style="display: none">
                    <label class="field" for="veisle">Veislė</label><br>
                    {{#each data.veisle}}
                        <input type="radio" id="b" name="veisle" value="{{{this.id}}}" required="true"> {{this.pavadinimas}}<br>
                    {{/each}}
                </div>

                <div class="inner-form">
                    <label class="field" for="apd">Ar turi apdovanojimą?</label><br>
                    <input type="radio" name="apdov" value="1" required="true" onclick="displayApdovanojimas(1)">Taip<br>
                    <input type="radio" name="apdov" value="0" required="true" onclick="displayApdovanojimas(0)">Ne<br>
                </div>

                <div class="inner-form" id="apdovanojimas" style="display: none">
                    <label class="field" for="apdova">Apdovanojimo informacija</label><br>

                    <div>
                        <label class="field" for="apdovanojimas_data">Apdovanojimo gavimo data</label>
                        {{#if data.apdovanojimas_data}}
                            {{{data.apdovanojimas_data}}}
                        {{else}}
                            <input type="date" id="apdovanojimas_data" name="apdovanojimas_data" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>

                    <div>
                        <label class="field" for="uzimta_vieta">Užimta vieta</label>
                        {{#if data.uzimta_vieta}}
                            {{{data.uzimta_vieta}}}
                        {{else}}
                            <input type="number" min="0" max="999" step="1" id="uzimta_vieta" name="uzimta_vieta" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>

                    <div>
                        <label class="field" for="prizas">Prizas</label>
                        {{#if data.prizas}}
                            {{{data.prizas}}}
                        {{else}}
                            <input type="text" maxlength="100" id="prizas" name="prizas" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>

                    <div>
                        <label class="field" for="dalyviu_skaicius">Dalyvių skaičius</label>
                        {{#if data.dalyviu_skaicius}}
                            {{{data.dalyviu_skaicius}}}
                        {{else}}
                            <input type="number" min="0" max="9999" step="1" id="dalyviu_skaicius" name="dalyviu_skaicius" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>

                    <div>
                        <label class="field" for="seimininkas">Šeimininkas</label>
                        {{#if data.seimininkas}}
                            {{{data.seimininkas}}}
                        {{else}}
                            <input type="text" maxlength="50" id="seimininkas" name="seimininkas" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>

                    <div>
                        <label class="field" for="konkurso_miestas">Konkurso miestas</label>
                        {{#if data.konkurso_miestas}}
                            {{{data.konkurso_miestas}}}
                        {{else}}
                            <input type="text" maxlength="100" id="konkurso_miestas" name="konkurso_miestas" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>

                    <div>
                        <label class="field" for="konkurso_salis">Konkurso šalis</label>
                        {{#if data.konkurso_salis}}
                            {{{data.konkurso_salis}}}
                        {{else}}
                            <input type="text" maxlength="100" id="konkurso_salis" name="konkurso_salis" class="form-control input-sm" required="true" value="">
                        {{/if}}
                    </div>
                </div>
                <input type="submit" class="submit btn btn-success" name="submit" value="Registruoti">
            </form>
        </div>
    </div>
</body>

