{{{htmlData.head}}}
<body>
    {{{htmlData.navbar}}}
    <div id="main-content" class="main">
        <h1>Visi sistemoje užregistruoti gyvūnai</h1>
        <h3>{{#if data.message}}
            {{{data.message}}}
        {{/if}}
        </h3>
        <div class="inner-form">
            <button class="submit btn btn-success" onclick="window.location.reload()">Atnaujinti gyvūnų sąrašą</button>
            <a href="/naujasgyvunas" class="btn btn-default">Registruoti gyvūną</a>
        </div>
        {{{data.gyvunas}}}
    </div>
</body>